/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/

.hscroll{
  display:flex;
  gap:12px;
  overflow-x:auto;
  padding:8px 0;
  scroll-snap-type:x mandatory;
}

/* media sizing only */
.hscroll img,
.hscroll video{
  width: auto !important;
  max-width: none !important;
  height: 400px;
}
